@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root{
  --colorBlack:black;
  --colorBlue: rgb(2, 120, 255);
  --colorWhite:white;
  --colorGray:rgb(241, 241, 241);
  --colorDarkGray:rgb(199, 199, 199);
  --colorGreen:rgb(0, 255, 0);
  --colorRed:red;
  --colorNormalGray:rgb(131, 130, 130);
}
.flex{
  display: flex;
  align-items: center;
}

button:hover{
  cursor: pointer;
}

/*LoginPage*/
.LoginPage{
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, var(--colorBlue), var(--colorWhite));
  justify-content: center;
}
.loading{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-left: 3px solid var(--colorBlue);
  border-bottom: 3px solid var(--colorBlue);
  border-top: 3px solid var(--colorBlue);
  animation: spin 1s linear infinite;
}
.loadingPage{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.LoginDiv{
  width: 35%;
  aspect-ratio: 16/15;
  background-color: var(--colorWhite);
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}
.LoginDiv h2{
  font-size: 30px;
  font-weight: 900;
}
.LoginDiv p{
  font-size: 16px;
}

.LoginForm{
  flex-direction: column;
  width: 90%;
  gap: 20px;
}

.LoginForm span{
  color: var(--colorBlue);
}

.LoginForm input{
  height: 50px;
  width: 100%;
  border: 1px solid var(--colorDarkGray);
  border-radius: 5px;
  padding: 20px;
}
.LoginForm input::placeholder{
  font-size: 17px;
  font-weight: 600;
  color: var(--colorDarkGray);
}
.LoginForm input[type = "submit"]{
  background-color: var(--colorBlue);
  color: var(--colorWhite);
  font-size: 18px;
  padding: 0;
}

nav{
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  justify-content: space-between;
  height: 100px;
  padding: 0px 25px;
  z-index: 2;
  position: absolute;
  background-color: var(--colorWhite);
}

nav img{
  height: 80px;
  border-radius: 10px;
}
nav img:hover{
  cursor: pointer;
}
nav ul{
  list-style: none;
  gap: 25px;
}
.logo{
  font-size: 14px;
  color: var(--colorWhite);
  font-weight: 500;
  font-style: italic;
  text-align: center;
  background-color: var(--colorBlue);
  border-radius: 15px 0px 15px 0px;
  padding: 10px;
}
nav ul li a{
  color: var(--colorBlack);
  font-size: 15px;
  font-weight: 600;
}

.nav-logo{
  gap: 20px;
}
.navAcc{
  gap: 10px;
}
.navAcc span{
  padding:  5px 14px;
  background-color: var(--colorBlue);
  border-radius: 50%;
  color: var(--colorWhite);
  font-size: 15px;
  font-weight: 700;
}
.navAcc p{
  font-size: 15px;
  font-weight: 500;
}
.navAcc img{
  height: 25px;
  border-radius: 0;
}

.menu{
  width: 25px;
  flex-direction: column;
  gap: 3px;
  display: none;
}

.menu span{
  height: 2px;
  width: 100%;
  background-color: var(--colorBlack);
}


/*aside*/
aside{
  position: fixed;
  top: 100px;
  left: 0;
  width: 300px;
  height: 100%;
  padding-top: 20px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  z-index: 2;
  background-color: var(--colorBlue);
  flex-direction: column;
}
aside ul{
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
  padding-top: 25px;
}

aside ul li{
  width: 100%;
  padding-left: 25px;
}

aside ul li img{
 filter: invert(100%);
}
aside ul li span{
  display: flex;
  justify-content:start;
  align-items: center;
  gap: 10px;
  color: var(--colorWhite);
  font-size: 15px;
  font-weight: 600;
}
aside ul li span:hover{
  cursor: pointer;
}
.asideLogoDiv{
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  gap: 10px;
  font-size: 18px;
}

.asideLogoDiv p{
  padding-left: 25px;
  padding-bottom: 15px;
  color: var(--colorWhite);
  font-weight: 700;
}

.asideIcon{
  height: 22px;
}

.togleAsideLink{
  background-color: var(--colorBlue);
  padding: 10px 0px 10px 25px;
  color: white;
}

.togleAsideLink a{
  color: white;
}

.togleAsideLink img{
  filter: invert(100%);
}

.Content{
  position: absolute;
  background-color: var(--colorGray);
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 100px 30px 30px 330px;
  display: flex;
  justify-content: space-between;
}



/*Customer*/
.Customer{
  width: 400px;
  aspect-ratio: 9/13;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  background-color: var(--colorWhite);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.Customer h2{
  font-size: 20px;
}

.CustomerForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;
}

.formDiv{
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.CustomerForm input{
  width: 100%;
  background-color: var(--colorGray);
  border: none;
  height: 50px;
  text-align: center;
}

.CustomerForm textarea{
  width: 100%;
  background-color: var(--colorGray);
  border: none;
  height: 150px;
  text-align: center;
  padding: 10px;
}


/*OrderPage*/
.OrderPage{
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
padding: 50px;
}


/*Product Page*/
.ProductPage{
  width: 98%;
  height: 100%;
  margin: 0 auto;
  gap: 15px;
}


.button{
  width: 170px;
  height: 40px;
  background-color: var(--colorBlue);
  border: 1px solid var(--colorDarkGray);
  font-weight: 600;
  font-size: 14px;
  color: var(--colorWhite);
  display: grid;
  place-content: center;
}
.ProductPageNav{
  width: 100%;
  background-color: var(--colorBlue);
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.StockPageNav{
  width: 100%;
  background-color: var(--colorBlue);
  flex-direction: column;
  padding: 20px 30px;
}

.ProductPageNavTitles{
  justify-content: space-between;
  align-items: start;
  padding: 20px 30px;
  width: 80%;
}

.ProductPageNavTitles span{
  font-size: 15px;
  font-weight:600;
  color: var(--colorWhite);
}

.searchbarHeader{
  width: 100%;
  background-color: var(--colorBlue);
  padding: 15px 30px;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.05);
  border-top: 1px solid rgb(241, 241, 241);
}

.searchbarHeader label{
  color: var(--colorWhite);
  font-weight: 700;
}

.searchbarHeader input{
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 25px;
  padding-left: 15px;
}

.searchbarHeader input:focus{
 border: none;
 outline: none;
}

.searchbarContainer{
  width: 15%;
  gap: 5px;
  min-width: 200px;
  background-color: var(--colorWhite);
  border-radius: 25px;
  padding-right: 15px;
  height: 35px;
}

.searchbarContainer img{
  height: 20px;
}

.Products{
  height: 80%;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  overflow-y: scroll;
  border-radius: 0px 0px 25px 25px;
  padding: 15px 0px;
}

.Product{
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  padding: 0px 10px;
  background-color: var(--colorWhite);
  height: 80px;
  box-shadow: 0px 8px 5px rgba(0,0,0,0.02);
  border-left: 5px solid var(--colorBlue);
}
.ProductContainer{
  justify-content: space-between; 
  gap: 25px;
  height: 80px;
  width: 100%;
}
.ProductName{
  height: 100%;
  gap: 10px;
}

.Product span{
  color: black;
  font-size: 14px;
  font-weight: 400;
  flex: 1;
  display: flex;
}
.ProductName{
  flex: 1; 
}
.ProductName span{
  color: var(--colorBlue);
  font-weight: 700;
  font-size: 15px;
}
.Product img{
  height: 100%;
  width: auto;
}

.Product img:hover{
  cursor: pointer;
}

.Product :last-child img:hover{
  filter: invert(00%);
  transition: 0.2s;
}


/*Products*/
/*Add product*/
.ProductSideBar{
  width: 230px;
  height: 300px;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.1);
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--colorWhite);
  min-width: 220px;
}

.ProductSideBar ul{
  gap: 30px;
  list-style: none;
  flex-direction: column;
  align-items: start;
}

.ProductSideBar ul li{
  color: var(--colorBlue);
  font-weight: 600;
  font-size: 15px;
}

.ProductSideBar ul li:hover{
  cursor: pointer;
}


.AddStoragePage{
gap: 50px;  
align-items: start;
justify-content: center;
align-items: center;
}

.AddProductPage{
  gap: 50px;  
  align-items: start;
  padding: 30px;
  width: 100%;
}

.AddStoragePage h2{
  font-size: 18px;
  align-self: start;
  margin-left: 30px;
  margin-top: 15px;
}
.ProductInfo{
  width: 80%;
  height: 100%;
  flex-direction: column;
  border-radius: 30px;
  gap: 15px;
  background-color: var(--colorWhite);
  box-shadow: 8px 8px 10px rgba(0,0,0,0.1);
}

.ProductInfo h2{
  padding-top: 15px;
  color: var(--colorBlue);
}

.ProductInfoForm{
  flex-direction: column;
  gap: 25px;
  width: 90%;
}

.inputFlex{
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: start;
  justify-content: start;
}

.inputFlex label{
  color: var(--colorBlue);
  font-weight: 800;
  font-size: 14px;
}

.inputFlex input{
  width: 60%;
  height: 40px;
  padding-left: 15px;
  border: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  border-radius: 25px;
  outline: 1px solid var(--colorDarkGray);
}

.inputFlex select{
  width: 100%;
  height: 40px;
  border: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  border-radius: 25px;
  padding-left: 15px;
  outline: 1px solid var(--colorDarkGray);
}

.inputFlex textarea{
  width: 100%;
  height: 130px;
  border: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  border-radius: 25px;
  padding: 15px;
  outline: 1px solid var(--colorDarkGray);
}


.productButtons{
  align-self: flex-end;
  gap: 30px;
}
.saveProductButton{
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: var(--colorBlue);
  color: var(--colorWhite);
  font-size: 17px;
  font-weight: 600;
  align-self: flex-end;
  margin-top: 40px;
  margin-right: 60px;
}

.deleteProductButton{
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: var(--colorRed);
  color: var(--colorWhite);
  font-size: 17px;
  font-weight: 600;
  align-self: flex-end;
  margin-top: 40px;
  display: none;
}
.ProductImages{
  width: 80%;
  aspect-ratio: 10/6.5;
  background-color: var(--colorWhite);
  flex-direction: column;
  border-radius: 30px;
  gap: 40px;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.1);
  padding: 30px 0px;
}
.ProductImagesForm{
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.ProductImages button{
  margin-top: 0px;
}
.ProductImagesForm input::file-selector-button{
  background-color: var(--colorBlue);
  color: var(--colorWhite);
  width: 130px;
  height: 40px;
  border: none;
  font-weight: 500;
}

.ProductImagesContainer{
  width: 100%;
  padding: 0px 50px;
}

.ProductImagesContainer img{
  width: 200px;
}

/*Category*/
.Category{
  width: 100%;
  background-color: var(--colorWhite);
  box-shadow: 8px 8px 10px rgba(0,0,0,0.05);
  padding: 15px;
  justify-content: space-between;
}
.category_icons{
  gap: 15px;
}
.products_icons{
  gap: 15px;
}

.products_icons img{
  filter: invert(50%);
}
.category_icons img{
  filter: invert(50%);
}
.Category h2{
  color: var(--colorBlue);
  font-weight: 500;
  font-size: 18px;
}

.AddCategoryPage{
  width: 100%;
  height: 100%;
}
.CategoryPage{
  width: 100%;
  height: 100%;
}
.addButton{
  width: 150px;
  height: 50px;
  color: white;
  background-color: var(--colorBlue);
  border: none;
  font-weight: 700;
  display: grid;
  place-items: center;
}

.addButton:hover{
  background-color: black;
  transition: 0.2s;
  cursor: pointer;
}

.CategoryPageHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.Categories{
  height: 70%;
  gap: 10px;
  width: 100%;
  flex-direction: column;
}

.addCategoryForm{
  width: 60%;
  height: 90%;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin: 0 auto;
  min-width: 300px;
  border-radius: 25px;
  padding: 15px;
  background-color: var(--colorWhite);
  box-shadow: 8px 8px 10px rgba(0,0,0,0.1);
  min-width: 300px;
}

.addCategoryForm h2{
  color: var(--colorBlue);
}

.addCategoryForm input{
  border-radius: 20px;
  padding-left: 20px;
  outline: 1px solid var(--colorDarkGray);
}

.addCategoryForm select{
  border-radius: 25px;
  padding-left: 15px;
  outline: 1px solid var(--colorDarkGray);
}


.addCategoryForm textarea{
  padding: 20px;
  border-radius: 20px;
  outline: 1px solid var(--colorDarkGray);
}

.addProduct{
  width: 150px;
  height: 50px;
  color: white;
  background-color: var(--colorBlue);
  border: none;
  font-weight: 700;
  display: grid;
  place-items: center;
}

.addProduct:hover{
  background-color: var(--colorDarkGray);
  transition: 0.2s;
  cursor: pointer;
}


/*Storage page*/
.Storages{
  width: 100%;
  height: 100%;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.Storage{
  width: 80%;
  height: 50%;
  background-color: var(--colorWhite);
  box-shadow: 0px 8px 25px rgba(0,0,0,0.05);
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: start;
  border-radius: 25px;
}
.Storage h2{
  color: var(--colorBlack);
  margin-left: 35px;
  font-size: 25px;
}
.StorageInfo{
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
}
.StorageInfo label{
  color: var(--colorBlue);
  font-weight: 700;
}

.StorageInfo span{
  color: var(--colorBlack);
  font-size: 15px;
}

.editButton{
  width: 130px;
  height: 50px;
  background-color: var(--colorBlue);
  border: none;
  color: var(--colorWhite);
  font-weight: 700;
  font-size: 14px;
  align-self: flex-end;
  display: grid;
  place-items: center;
}

.editButton:hover{
  background-color: var(--colorBlack);
  transition: 0.2s;
  cursor: pointer;
}

.buttonsStorage{
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 30px;
  margin-top: 20px;
}

.deleteButton{
  background-color: red;
  border: none;
  height: 50px;
  width: 130px;
  color: white;
  font-weight: 800;
}

.deleteButton:hover{
  cursor: pointer;
}
/*Add Storage Page*/
.AddStoragePage{
  width: 100%;
  height: 100%;
}
.addStorageForm{
  flex-direction: column;
  align-items: start;
  gap: 40px;
  width: 100%;
  height: 85%;
  background-color: var(--colorWhite);
  padding: 25px;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.1);
  border-radius: 25px;
}

.StorageInput{
  width: 100%;
  gap: 30px;
  justify-content: center;
}

.StorageInput label{
  color: var(--colorBlue);
  font-weight: 500;
  font-size: 18px;
  width: 130px;
}

.StorageInput input{
  width: 80%;
  border: 1px solid var(--colorDarkGray);
  height: 50px;
  background-color: var(--colorGray);
  padding: 15px;
}


/*Add supplier page*/
.AddSupplierPage{
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.supplierContainer{
width: 80%;
justify-content: center;
flex-direction: column;
gap: 25px;
background-color: var(--colorWhite);
padding: 30px;
border-radius: 25px;
box-shadow: 8px 8px 10px rgba(0,0,0,0.1);
}
.editInput{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.editInput label{
  color: var(--colorBlue);
  font-size: 15px;
  font-weight: 800;
}

.editInput input{
  width: 100%;
  height: 50px;
  padding: 20px;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.05);
  border: none;
  border-radius: 50px;
  border: 1px solid var(--colorDarkGray);
}

.editInput textarea{
  width: 100%;
  height: 150px;
  padding: 20px;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.05);
  border: none;
  border-radius: 20px;
  border: 1px solid var(--colorDarkGray);
}

.supplier span{
  flex: 1;
}

.supplierHeader span{
  flex: 1;
  text-align: center;
}

.supplier h2 {
  flex: 1;
}

/*Activate Page*/
.ActivatePage{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(0deg, var(--colorBlue), var(--colorWhite));
}

.ActivatePageContainer{
  background-color: var(--colorWhite);
  width: 30%;
  aspect-ratio: 16/16;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
  border-radius: 25px;
}

.ActivatePageInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10px;
}

.ActivatePageInput label{
  color: var(--colorBlue);
  align-self: start;
}

.ActivatePageInput input{
  height: 50px;
  background-color: var(--colorWhite);
  border: 1px solid var(--colorDarkGray);
  width: 100%;
  padding-left: 20px;
  border-radius: 15px;
}

.ActivatePageInput input::placeholder{
  font-size: 20px;
  font-weight: 500;
  color: var(--colorDarkGray);
}

.ActivatePageContainer button{
  width: 90%;
  height: 50px;
  background-color: var(--colorBlue);
  color: var(--colorWhite);
  border: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
}

/*Employeee*/
.editNameFlex{
  width: 100%;
  gap: 50px;
}
select{
  color: black;
}
option{
  color: black;
}

select{
  height: 70px;
  border: 1px solid var(--colorDarkGray);
}

/*Profile Employee*/
.profileName{
  gap: 15px;
}

.profileName img{
  height: 50px;
  filter: invert(50%);
}

.employee_info{
  gap: 25px;
}


/*Stock*/
.StockProducts{
  width: 60%;
  height: 100%;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
}

.stockHeader{
  justify-content: space-between;
}

.stockHeader span{
color: var(--colorWhite);
font-weight: 700;
}

.StorckProductsEdit{
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}




.FullStock{
  width: 100%;
  height: 70px;
  background-color: transparent;
  justify-content: space-between;
}

.FullStock img{
  height: 100%;
  width: 100%;
}

.FullStockProduct{
  justify-content: space-between;
  align-items: center;
  width: 100%;
 background-color: var(--colorWhite);
 padding: 0px 15px 0px 0px;
 transition: 0.2s;
 box-shadow: 2px 3px 10px rgba(0,0,0,0.05);
 transition: 0.2s;
}
.ProductStockName{
  height: 100%;
  width: 30%;
 gap: 30px;
}

.ProductStockName span{
  color: var(--colorBlue);
  font-weight: 700;
  width: 30%;
}
.ProductStockName img{
  height: 70px;
  width: auto;
}

.addProductInput{
width: 25%;
background-color: var(--colorWhite);
height: 100%;
padding: 5px 25px 10px 25px;
animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0; /* Průhlednost na začátku animace */
  }
  to {
    opacity: 1; /* Průhlednost na konci animace */
  }
}

.addProductInput label{
  color: var(--colorBlue);
  font-size: 14px;
  font-weight: 600;
}

.addProductInput input{
  color: var(--colorBlue);
  font-size: 13px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  border: none;
  width: 100%;
  height: 30px;
  padding: 10px;
}

.stockButton{
  width: 50px;
  height: 40px;
  background-color: var(--colorBlue);
  border: none;
  color: var(--colorWhite);
  font-size: 20px;
  font-weight: 500;
  align-self: flex-end;
}


.StockForm{
  height: 100%;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}

.inputStock{
  width: 80%;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.inputStock label{
  color: var(--colorBlue);
  font-size: 14px;
  font-weight: 800;

}
.inputStock select{
  width: 100%;
  border: none;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  height: 40px;
}

.inputStock input{
  width: 100%;
  border: none;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  height: 40px;
}

.inputStock textarea{
  width: 100%;
  border: none;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  padding: 15px;
  height: 200px;
}


/*Positions*/
.PositionPage{
  padding: 30px;
}
.PositionPageHeader{
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  flex-direction: column;
}

.positiondAdd{
  width: 100%;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editInput select{
height: 62px;
}
.positionInput{
  width: 40%;
}
.positionInput input{
  width: 100%;
}

.positionInput select{
  width: 100%;
}

.positiondAdd button{
  align-self: end;
}


.Positions{
  width: 100%;
  margin-top: 70px;
  gap: 30px;
}

.PositonCard{
  width: 250px;
  height: 250px;
  background-color: var(--colorBlue);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.PositonCard img{
  filter: invert(100%);
}

.PositonCard span{
  color: var(--colorWhite);
  font-size: 40px;
}



/*StockInPage*/
.StockInCard{
  width: 100%;
  height: 70px;
  background-color: var(--colorWhite);
  justify-content: space-between;
  padding: 0px 15px;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.05);
  gap: 15px;
}

.stockinName{
  color: var(--colorBlue);
  font-weight: 700;
}

.StockInCard img{
  height: 35px;
}


/*Movements*/
.movements_flex{
  gap: 15px;
  align-items: start;
}

.StockHeader{
  width: 100%;
  background-color: var(--colorBlue);
  padding: 20px 20px;
}

.StockHeader h2{
  color: var(--colorWhite);
  font-size: 18px;
}

.Moves{
  width: 80%;
  height: 100%;
  border-radius: 25px;
  align-items: start;
  gap: 15px;
}
.ProductStockHeader{
  background-color: var(--colorBlue);
  color: var(--colorWhite);
  width: 100%;
  font-size: 10px;
  padding: 15px 20px;
}
.MovesContainer{
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.MovesItems{
  flex-direction: column;
  gap: 10px;
  width: 100%;
}


@media only screen and (max-width: 1000px) {
  .menu{
    display: flex;
  }
  .logo{
    display: none;
  }
  .nav-logo ul{
    display: none;
  }
  .Content{
    padding: 100px 5px 0px 5px;
    min-height: 100vh;
  }

  .Storage{
    width: 90%;
    height: 70%;
  }
  .addStorageForm{
    width: 95%;
    height: 90%;
    gap: 25px;
  
  }
  .ProductImages{
    height: 90%;
    width: 100%;
  }

  .Moves{
    flex-direction: column;
    width: 100%;
  }

  .MovesContainer{
    width: 100%;
  }
  .addCategoryForm{
    width: 95%;
    height: 93%;
  }
  .addCategoryForm h2{
    font-size: 20px;
  }
  .StorageInput{
    width: 100%;
  }

  .supplierContainer{
    width: 97%;
   margin-top: 150px;
  }

  .StorageInput input{
    height: 40px;
  }

  .StorageInput label{
    font-size: 16px;
    font-weight: 600;
  }
  .ProductPage{
    width: 100%;
  }
  .Product span{
    justify-content: center;
    align-items: center;
  }
  .products_icons{
    display: none;
  }

  aside{
    display: none;
    flex-direction: column;
    animation: fade 0.3s ease-in-out;
    width: 100%;
  }

  .deleteProductButton{
    display: block;
  }


  .AddProductPage{
    flex-direction: column;
    width: 100%;
    padding: 10px 5px;
    gap: 25px;
    background-color: var(--colorGray);
  }
.productButtons{
  width: 100%;
  justify-content: center;
  align-items: center;
}
.saveProductButton{
  margin-right: 0px;
}
  .ProductSideBar{
    width: 100%;
    padding: 50px 0px;
  }
  .ProductInfo{
    width: 100%;
    padding: 20px 0px;
    height: auto;
  }
.StockProducts{
  width: 100%;
}
.FullStockProduct{
  height: 70px;
}
.FullStockProduct img{
  height: 50px;
}
  .StorckProductsEdit{
    flex-direction: column;
    height: auto;
    gap: 50px;
  }
  .ProductStockName{
    width: auto;
    gap: 10px;
  }
  .ProductPageNavTitles{
    width: 100%;
  }
  .ProductStockName span{
    font-size: 14px;
  }
  .StockForm{
    width: 100%;
    padding: 0;
    background-color: var(--colorGray);
    padding-bottom: 50px;
  }
  .StockPageNav{
    padding: 20px 10px;
  }
  .inputStock{
    width: 100%;
  }
  .movements_flex{
    flex-direction: column;
    gap: 25px;
  }
  .StockInCard{
    font-size: 13px;
    padding: 5px;
  }
  .StockInCard img{
    height: 25px;
  }
  .StockInCard span:last-child{
    display: none;
  }
  .stock{
    height: auto;
  }
  .Categories{
    height: auto;
    background-color: var(--colorGray);
  }

  .addProductInput{
    width: auto;
    padding: 3px 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .addProductInput label{
    align-self: center;
  }

  .addProductInput input{
    width: 80%;
  }

  .stockButton{
    height: 35px;
    width: 45px;
  }

  .Category img{
    height: 27px;
  }
  .supplier span{
    display: none;
  }
  .supplierHeader{
    display: none;
  }
  @keyframes fade {
    from {
      opacity: 0; /* Průhlednost na začátku animace */
    }
    to {
      opacity: 1; /* Průhlednost na konci animace */
    }
  }
}


@media only screen and (max-width: 600px) {
  .Product{
    height: 65px;
    gap: 10px;
  }
  .Product span{
    font-size: 13px;
    font-weight: 400;
  }

  .Product img:first-child{
    height: 40px;
  }

  .Product img:last-child{
    height: 25px;
  }
  .inputFlex{
    width: 100%;
  }

  .inputFlex input{
    width: 100%;
  }

}